.perro {

    margin: 40px;
    top: 60px;
    position: relative;
  
    
}


.opciones {
    text-align: center;
    position: relative;
    top: 20px
  
}



.cards {
    flex: auto;
    z-index: 2;
    margin: 8px;
    top: 20px;
    position: relative;
}

